/*Variables*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*Encabezado*/
.encabezado {
  display: flex;
  flex-direction: row;
}
.encabezado__logo {
  width: 20%;
}
.encabezado__titulo {
  background-color: white;
  border-top: 7vw solid rgb(10, 243, 243);
  border-bottom: 7vw solid rgb(10, 243, 243);
  width: 100%;
  padding: 1%;
  text-align: center;
  font-size: 5vw;
  color: #c3bb38;
}

/*Barra de Navegacion*/
.barra-nav {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.barra-nav__opciones {
  text-align: center;
  font-size: 1.2rem;
  color: aqua;
}
.barra-nav__opciones--inicio {
  font-size: 1.2rem;
  color: white;
}
.barra-nav__opciones--links {
  color: #c3bb38;
  font-size: 1rem;
  text-decoration: underline;
}
.barra-nav__busc {
  display: none;
}
@media (min-width: 758px) {
  .barra-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .barra-nav__opciones {
    display: flex;
    font-size: 1.5rem;
    padding: 2%;
  }
  .barra-nav__opciones--inicio {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .barra-nav__opciones--temporadas {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .barra-nav__opciones--competidores {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .barra-nav__opciones--links {
    font-size: 1rem;
  }
  .barra-nav__busc {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    padding: 2%;
  }
  .barra-nav__busc--input {
    font-size: 1rem;
    border-radius: 50px;
    width: 160px;
    height: 40px;
  }
  .barra-nav__busc--boton {
    border-radius: 50px;
    width: 50px;
    height: 30px;
    background-color: #575319;
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .barra-nav__opciones {
    font-size: 3rem;
  }
  .barra-nav__opciones--inicio {
    font-size: 3rem;
  }
  .barra-nav__opciones--temporadas {
    font-size: 3rem;
  }
  .barra-nav__opciones--competidores {
    font-size: 3rem;
  }
  .barra-nav__opciones--links {
    font-size: 2rem;
  }
  .barra-nav__busc {
    font-size: 2.5rem;
  }
  .barra-nav__busc--input {
    font-size: 1rem;
    width: 200px;
    height: 50px;
  }
  .barra-nav__busc--boton {
    width: 80px;
    font-size: 1rem;
  }
}

/*articulos residuales de momento*/
.art-info-predet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

/*TITULOS*/
.art-info__tit {
  font-size: 2.4rem;
  color: #999215;
}

/*titulo fondo negro*/
.art-info__tit-fn {
  font-size: 2.4rem;
  color: #f0e624;
  background-color: black;
}

.divisor-de-sec {
  background-color: rgb(255, 255, 255);
  border-top: 1.8rem solid rgb(10, 243, 243);
  border-bottom: 1.8rem solid rgb(10, 243, 243);
  text-align: center;
  font-size: 2rem;
  color: #c3bb38;
}

.atras-sig {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.atras-sig__atras {
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgb(231, 228, 228);
  color: black;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(10, 243, 243);
  margin: 10%;
  border-radius: 10%;
}
.atras-sig__sig {
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgb(231, 228, 228);
  color: black;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(10, 243, 243);
  margin: 10%;
  border-radius: 10%;
}

/*Pie de pagina*/
.pie-de-pag {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pie-de-pag__img {
  border-radius: 100%;
  margin-top: 5%;
  height: 30%;
  width: 30%;
}
.pie-de-pag__div {
  display: flex;
  flex-direction: column;
  padding-top: 0.9rem;
  font-size: 1rem;
  text-align: center;
}
.pie-de-pag__boton {
  background-color: #f0e624;
  text-align: center;
  border-radius: 30%;
  border: solid;
  border-style: double;
  color: #575319;
  margin-left: 30%;
  margin-right: 30%;
}
.pie-de-pag__link {
  background-color: rgba(159, 180, 37, 0.315);
  color: #13545f;
}
@media (min-width: 758px) {
  .pie-de-pag {
    display: flex;
    flex-direction: row;
  }
  .pie-de-pag__img {
    margin-top: none;
    width: 9%;
    height: 9%;
  }
  .pie-de-pag__div {
    font-size: 1rem;
  }
}

/*INICIO DE LAS TARJETAS*/
.tarjeta {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 3px solid rgb(10, 243, 243);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tarjeta__cuerpo {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tarjeta__img {
  width: 100%;
}
.tarjeta__boton {
  height: 50%;
  width: 50%;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgb(231, 228, 228);
  color: black;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(10, 243, 243);
  margin: 10%;
  border-radius: 10%;
}

/*inicio de la secciones*/
.sec-info-mc {
  margin-top: 1rem;
}

/*fin de las secciones*/
.art-info-ini {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

.art-info-lall {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.art-info-dl {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.art-info-act {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/**/
.barra-lateral-mc {
  display: none;
}

/**/
.art-info__texto {
  margin-top: 2%;
  margin-bottom: 2%;
}

.art-info__img {
  width: 200px;
  margin: 20px;
}

.art-info__img--campeon {
  width: 200px;
  margin: 20px;
  border: solid;
  border-style: groove;
  border-width: 20px;
  border-color: rgb(114, 69, 10);
  border-top-color: #f0e624;
}

@media (min-width: 758px) {
  .grilla-mc {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  .barra-lateral-mc {
    display: flex;
    flex-direction: column;
    color: #c3bb38;
    background-color: black;
    text-align: center;
    font-size: 1rem;
    grid-column: 2;
    grid-row: 1/5;
  }
  .barra-lateral-mc__titulo {
    font-size: 2rem;
  }
  .barra-lateral-mc__iframe {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .art-info-ini {
    grid-column: 1;
    grid-row: 1;
  }
  .art-info-lall {
    grid-column: 1;
    grid-row: 2;
    margin: 1rem;
  }
  .art-info-dl {
    grid-column: 1;
    grid-row: 3;
    margin: 1rem;
  }
  .art-info-act {
    grid-column: 1;
    grid-row: 4;
    margin: 1rem;
  }
}
@media (min-width: 1200px) {
  .grilla-mc {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  .barra-lateral-mc {
    font-size: 1.8rem;
  }
  .barra-lateral-mc__titulo {
    font-size: 2.4rem;
    padding: 1%;
  }
  .barra-lateral-mc__iframe {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}
.barra-lateral-j1 {
  display: none;
  color: #c3bb38;
  background-color: black;
  font-size: 1rem;
  text-align: center;
}
.barra-lateral-j1__iframe {
  height: 100%;
  width: 100%;
}
.barra-lateral-j1__img {
  align-items: center;
  height: 100%;
  width: 90%;
  padding: 1%;
}
.barra-lateral-j1__titulo {
  font-size: 1.8rem;
  text-decoration: underline;
}
.barra-lateral-j1__link {
  color: #75711f;
}

.art-info-j1-contx {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  text-align: center;
}
.art-info-j1-contx__tit {
  font-size: 2.6rem;
  color: #0987a7;
}

.art-info-j1-emp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.art-info-j1-emp__tit {
  text-align: center;
  font-size: 2.6rem;
  color: #0987a7;
}

.sec-j1-resu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-j1-resu__tit {
  text-align: center;
  font-size: 2rem;
  color: #c3bb38;
}

.arti-b1 {
  display: block;
  text-align: center;
  padding: 1%;
}
.arti-b1__tit {
  font-size: 1.5rem;
  color: #0987a7;
}
.arti-b1__sub-tit {
  font-size: 1.2rem;
  color: #c3bb38;
}
.arti-b1__text {
  font-size: 0.9rem;
}
.arti-b1__iframe {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.arti-b2 {
  display: block;
  text-align: center;
  padding: 1%;
}
.arti-b2__tit {
  font-size: 1.5rem;
  color: #0987a7;
}
.arti-b2__sub-tit {
  font-size: 1.2rem;
  color: #c3bb38;
}
.arti-b2__text {
  font-size: 0.9rem;
}
.arti-b2__iframe {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.arti-b3 {
  display: block;
  text-align: center;
  padding: 1%;
}
.arti-b3__tit {
  font-size: 1.5rem;
  color: #0987a7;
}
.arti-b3__sub-tit {
  font-size: 1.2rem;
  color: #c3bb38;
}
.arti-b3__text {
  font-size: 0.9rem;
}
.arti-b3__iframe {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.arti-b4 {
  display: block;
  text-align: center;
  padding: 1%;
}
.arti-b4__tit {
  font-size: 1.5rem;
  color: #0987a7;
}
.arti-b4__sub-tit {
  font-size: 1.2rem;
  color: #c3bb38;
}
.arti-b4__text {
  font-size: 0.9rem;
}
.arti-b4__iframe {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.arti-b5 {
  display: block;
  text-align: center;
  padding: 1%;
}
.arti-b5__tit {
  font-size: 1.5rem;
  color: #0987a7;
}
.arti-b5__sub-tit {
  font-size: 1.2rem;
  color: #c3bb38;
}
.arti-b5__text {
  font-size: 0.9rem;
}
.arti-b5__iframe {
  width: 100%;
  height: 100%;
  padding: 5%;
}

@media (min-width: 758px) {
  .grilla-j1 {
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 5% 73% 7% 1%;
  }
}
@media (min-width: 1200px) {
  .grilla-j1 {
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 5% 73% 7% 1%;
  }
}
.tarjeta-temp {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 3px solid rgb(10, 243, 243);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.tarjeta-temp__img {
  height: 100%;
  width: 100%;
}

.barra-lateral-temp {
  display: none;
  color: #c3bb38;
  background-color: black;
  font-size: 1rem;
  text-align: center;
}
.barra-lateral-temp__img {
  height: 100%;
  width: 100%;
  padding: 10%;
}

.art-info-temp1-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.art-info-temp1-in__tit {
  text-align: center;
  font-size: 2.6rem;
  color: #c3bb38;
}

.art-info-temp1-ele {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.art-info-temp1-ele__tit {
  font-size: 2rem;
  color: #c3bb38;
}
.art-info-temp1-ele__comp {
  font-size: 1.5rem;
  color: #c3bb38;
}
.art-info-temp1-ele__img {
  height: 100%;
  width: 100%;
  padding: 10%;
}
.art-info-temp1-ele__mc {
  height: 100%;
  width: 100%;
  padding: 10%;
}

.divisor-de-sec-temp1 {
  background-color: aqua;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: #c3bb38;
}

.seccion-jornadas {
  padding: 1%;
}

@media (min-width: 758px) {
  .grilla-temp {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2% 62% 3% 30% 1%;
  }
  .art-info-temp1-in {
    grid-column: 1;
    grid-row: 1;
  }
  .art-info-temp1-ele {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
  }
  .art-info-temp1-ele__img {
    width: 500px;
    height: 400px;
  }
  .art-info-temp1-ele__mc {
    width: 400px;
    height: 50%;
  }
  .divisor-de-sec-temp1 {
    grid-column: 1;
    grid-row: 3;
  }
  .seccion-jornadas {
    grid-column: 1/2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2rem;
    padding: 1%;
  }
  .tarjeta-temp {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 20%;
  }
  .tarjeta-temp__img {
    height: 63%;
    width: 100%;
  }
  .atras-sig {
    grid-column: 1;
    grid-row: 5;
  }
}
@media (min-width: 1200px) {
  .grilla-temp {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2% 59% 3% 35% 1%;
  }
  .art-info-temp1-in {
    grid-column: 1;
    grid-row: 1;
  }
  .art-info-temp1-ele {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
  }
  .art-info-temp1-ele__img {
    width: 500px;
    height: 400px;
  }
  .art-info-temp1-ele__mc {
    width: 500px;
    height: 400px;
  }
  .divisor-de-sec-temp1 {
    grid-column: 1;
    grid-row: 3;
  }
  .tarjeta-temp {
    height: 22%;
    width: 20%;
  }
  .tarjeta-temp__img {
    height: 60%;
    width: 100%;
  }
  .atras-sig {
    grid-column: 1;
    grid-row: 5;
  }
}
/*inicio barra lateral*/
.barra-lateral-ind {
  display: none;
  color: #c3bb38;
  background-color: black;
  font-size: 1rem;
  text-align: center;
}
.barra-lateral-ind__iframe {
  margin-left: 5%;
  height: 80%;
  width: 80%;
}
.barra-lateral-ind__img {
  height: 100%;
  width: 100%;
  padding: 10%;
}
.barra-lateral-ind__titulo {
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 5%;
}
.barra-lateral-ind__link {
  color: #75711f;
}

/*articulos de informacion*/
.art-info-in-ind {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1%;
}

.art-info-secu-ind {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1%;
}

/*inicio del divisor*/
.divisor-secu-ind {
  background-color: aqua;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.divisor-in-ind {
  margin-bottom: 1rem;
  background-color: 7vw solid rgb(10, 243, 243);
}

/*Grilla index*/
@media (min-width: 758px) {
  .grilla-in {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 2% 14% 2% 17% 8% 57%;
  }
  .barra-lateral-ind {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1/7;
  }
  .divisor-in-ind {
    grid-column: 1;
    grid-row: 1;
  }
  .art-info-secu-ind {
    grid-column: 1;
    grid-row: 4;
  }
  .divisor-de-sec {
    font-size: 1rem;
    grid-column: 1;
    grid-row: 5;
  }
  .contenedor-tarj {
    grid-column: 1;
    grid-row: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .tarjeta {
    width: 40%;
    height: 35%;
  }
  .tarjeta__img {
    width: 100%;
    height: 60%;
  }
  .tarjeta__boton {
    height: 60%;
    width: 50%;
    margin: 5%;
    font-size: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .grilla-in {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 2% 10% 2% 14% 8% 64%;
  }
  .barra-lateral-ind {
    font-size: 2rem;
  }
  .barra-lateral-ind__titulo {
    font-size: 3rem;
  }
  .divisor-in-ind {
    grid-column: 1;
    grid-row: 1;
  }
  .art-info-secu-ind {
    grid-column: 1;
    grid-row: 4;
  }
  .divisor-de-sec {
    font-size: 2rem;
    padding-bottom: 2%;
    grid-column: 1;
    grid-row: 5;
  }
  .contenedor-tarj {
    grid-column: 1;
    grid-row: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .tarjeta {
    width: 29%;
    height: 30%;
  }
  .tarjeta__img {
    width: 100%;
    height: 60%;
  }
  .tarjeta__boton {
    height: 60%;
    width: 50%;
    margin: 5%;
    font-size: 0.98rem;
  }
}
@media (min-width: 1407px) {
  .grilla-in {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 2% 24% 2% 24% 18% 30%;
  }
  .divisor-de-sec {
    padding-top: 5%;
    font-size: 5rem;
  }
  .contenedor-tarj {
    gap: none;
  }
  .tarjeta {
    width: 20%;
    height: 70%;
  }
  .tarjeta__boton {
    font-size: 1rem;
  }
}
.indicador-formulario {
  background-color: rgb(255, 255, 255);
  border-top: 1.8rem solid rgb(10, 243, 243);
  border-bottom: 1.8rem solid rgb(10, 243, 243);
  text-align: center;
  font-size: 2rem;
  color: #c3bb38;
}

.color-contacto {
  background-color: rgb(39, 36, 36);
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  color: #b6b043;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
  background-color: grey;
  margin: 2%;
}

@media (min-width: 758px) {
  .formulario {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .formulario {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=estilosindex.css.map */
