
.barra-lateral-temp {
    display: none;
    color: $color-predet-f;
    background-color: $color-barra-lat;

    font-size: 1rem;
    text-align: center;
    
    &__img {
        
        height: 100%;
        width: 100%;
        padding: 10%;
    }
    

}
.art-info-temp1-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;  
    
    &__tit{
        text-align: center;
        font-size: 2.6rem;
        color: $color-predet-f;
     }  
}

.art-info-temp1-ele{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;    


 &__tit{
    font-size: 2rem;
    color: $color-predet-f;
 }

 &__comp{
    font-size: 1.5rem;
    color: $color-predet-f;
 }
 &__img{
    height: 100%;
    width: 100%;
    padding: 10%;
 }

 &__mc{
    height: 100%;
    width: 100%;
    padding: 10%;
 }
}

.divisor-de-sec-temp1 {
    background-color: aqua;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: $color-predet-f;
}

.seccion-jornadas{
    padding: 1%;
}
@media (min-width: 758px){
    .grilla-temp {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2% 72% 3% 20% 1%; 
    }

    
        .art-info-temp1-in{
            grid-column:1;
            grid-row:1;
        }

        .art-info-temp1-ele{
            grid-column: 1;
            grid-row: 2;
            display: flex;
            
            align-items: center;
            &__img{
                width:500px;
                height: 400px;
            }
          &__mc{
            width: 500px;
            height: 400px;
          }
        }
 
        .divisor-de-sec-temp1{
            grid-column: 1;
            grid-row: 3;
        }
        .seccion-jornadas{
            grid-column: 1/2;
            grid-row: 4;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap: 0.2rem;
            padding: 1%;

            
        }
        .tarjeta{
            height: 25%;
            width: 20%;
            &__img{
                height: 100px;
            }
            &__boton{
                padding-bottom: 3%;
                margin: 0px;
            }
        }
        .atras-sig{
            grid-column: 1;
            grid-row: 5;
        }
}

@media (min-width: 1200px){
    .grilla-temp {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2% 68% 3% 26% 1%; 
    }

    
        .art-info-temp1-in{
            grid-column:1;
            grid-row:1;
        }

        .art-info-temp1-ele{
            grid-column: 1;
            grid-row: 2;
            display: flex;
            
            flex-wrap:wrap;
            
            &__img{
                width:500px;
                height: 400px;
            }
          &__mc{
            width: 500px;
            height: 400px;
          }
        }
 
        .divisor-de-sec-temp1{
            grid-column: 1;
            grid-row: 3;
        }
        .seccion-jornadas{
            grid-column: 1/2;
            grid-row: 4;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap: 0.2rem;
            padding: 1%;

            
        }
        .tarjeta{
            height: 25%;
            width: 20%;
            &__img{
                height: 150px;
            }
         
        }
        .atras-sig{
            grid-column: 1;
            grid-row: 5;
            
        }
}

